body { background-color: #000040;
       background-image: url(background.gif);
       color: #88ffff;
       font-family: Verdana, Arial, sans-serif;
}
#container { margin-left: auto;
       margin-right: auto;
       width:80%;
       min-width:700px;
      }


#logo {
	text-align:center;
	margin: 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	padding-top: 30px;
	padding-bottom: 20px;

}
#nav {
	float: left;
	width: 200px;
	padding-top: 10px;
	text-align:left;
	color: #88FFFF;
	font-size: 12px;
}
#nav a {text-decoration:none;
                  margin: 15px;
                  display: block;
				  color: #88FFFF;
				  font-size: 12px;
}
#content {
	margin-left: 150px;
	padding: 30px;
	overflow:auto;
	border: medium groove #88FFFF;
	line-height: 135%;

}

.floatright {padding-left:20px;
             float:right;
			 }
.floatleft {
	float:left;
	padding: 30px 0px 20px;
}
#footer { font-size: .60em;
        font-style: italic;
        text-align: center;
        border-top: 2px double #000040;
        padding-top: 20px;
        padding-bottom: 20px;
}

h2 { text-transform: uppercase;
     color: #88ffff;
     font-size: 1.2em;
     border-bottom: 1px none;
     margin-right: 20px;
}

h3 {
	color: #88ffff;
	font-size: 1em;
	border-bottom: 1px solid #000000;
	margin-right: auto;
	text-align: left;
	padding-top: 20px;
	padding-right: 150px;
	padding-bottom: 20px;
	padding-left: 150px;
	line-height: 130%;
}

.details { padding-left:20%;
           padding-right:20%;
}


img {border:0; }


.content {
	margin: 20px;
	padding: 20px;
	height: 3700px;
	width: 500px;
}


a {text-decoration:none;
                  margin: 15px;
                  display: block;
				  color: #88FFFF;
				  font-size: 12px;
}

a:hover {
	color:  #000040;
	background-color: #88ffff;
}

#nav a:hover {
	color: #000040;
}

span {
	font-size: 36px;
	font-weight: bold;
	font-family: "Courier New", Courier, mono;
	color: #88ffff;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
 	width: 600px;
 	margin: auto;
}




tr {
  width: auto;
}

td {
	border: 2px solid #88ffff;
	width: 5em;
  	height: 25px;
	font-family: "Courier New", Courier, mono;
	font-size: 14px;
	color: #88ffff;
  	padding: 0.5em;
}

table caption {
	margin-bottom: 10px;
	font-weight: bold;
}

.style1 {
	font-size: 17px;
}

.style2 {
	font-size: 18px;
	color: #B43F3F;
}

.style3 {
	font-size: 25px;
}

#battleTable td, tr {
	border: none;
}

#startGame {
	background-color: #42B723;
	border-color: #42B723;
}

#startGame:hover {
	background-color: #9FD990;
	border-color: #9FD990;
}

#stayHand {
	background-color: #E15B7B;
	border-color: #E15B7B;
}

#stayHand:hover {
	background-color: #ECADBC;
	border-color: #ECADBC;
}

#reloadPage {
	background-color: #71B2EB;
}

#reloadPage:hover {
	background-color: #BDDBF5;
}

.yellow {
	color: #FAFA87;
	font-size: 1.5em;
}

.orange {
	color: #C47F00;
	font-size: 1.5em;
}

.playButton {
	display: inline;
	margin: 0;
	padding: 0;
	position: relative;
	top: 8px;
	text-decoration: none;
}

.playButton:hover {
	color: none;
	outline: none;
	background: none;
}

.playButton img:active {
	opacity: 0.5;
}

#ticTacToeTable input {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color: #2424D0;
}

#ticTacToeTable td, tr {
	border: none;
}

#ticTacToeResult {
	color: white;
}

#ticTacToeResult p {
	color: #AA4C4C;
}

#playerHed {
  display: inline-block;
  width: 200px;
  margin-right: 100px;
}

#playerHed h2 {
  color: #95e8a2;
}

#dealerHed h2 {
  color: #AA4C4C;
}

#dealerHed {
  display: inline-block;
  width: 200px;
}

#playerDice1 {
  height: 124px;
  width: 124px;
  background-position: -6px -131px;
  display: inline-block;
}

#playerDice2 {
  height: 124px;
  width: 124px;
  background-position: -6px -131px;
  display: inline-block;
  margin-right: 50px;
}

#dealerDice1 {
  height: 124px;
  width: 124px;
  background-position: -6px -131px;
  display: inline-block;
}

#dealerDice2 {
  height: 124px;
  width: 124px;
  background-position: -6px -131px;
  display: inline-block;
}

#playerDice1, #playerDice2, #dealerDice1, #dealerDice2 {
  background-image: url('images/dice.png');
  background-repeat: no-repeat;
}

#playerScore {
  display: inline-block;
  width: 200px;
  margin-right: 100px;
}

#playerScore h2 {
  color: #95e8a2;
  font-size: .8em;
}

#dealerScore h2 {
  color: #AA4C4C;
  font-size: .8em;
}

#dealerScore {
  display: inline-block;
  width: 200px;
}

#playerResult {
  display: inline-block;
}

#dealerResult {
  display: inline-block;
}

#playerResult h2 {
  display: inline-block;
  width: 250px;
  color: #ffffff;
  font-size: 1.2em;
  margin-right: 50px;
}

#dealerResult h2 {
  display: inline-block;
  width: 250px;
  color: #ffffff;
  font-size: 1.2em;
}

#statusText h2 {
  color: #ffffff;
  font-size: 1em;
}


#diceContent {
  width: 650px;
	margin-left: 150px;
	padding: 30px;
	overflow:auto;
	border: medium groove #88FFFF;
	line-height: 135%;
}

button {
  cursor: pointer;
}

.dice1 {
  background-position: -7px -4px;
}

.dice2 {
  background-position: -134px -4px;
}

.dice3 {
  background-position: -261px -4px;
}

.dice4 {
  background-position: -259px -130px;
}

.dice5 {
  background-position: -133px -130px;
}

.dice6 {
  background-position: -6px -131px;
}
